<div th:fragment="login-form" xmlns:th="http://www.w3.org/1999/xhtml">



    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" id="email" name="email" placeholder="Enter email address"
                    th:field="*{email}" type="email" />
                <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Enter password"
                       th:field="*{password}" type="password" />
                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
                </p>
            </div>
        </div>
    </div>

</div>