<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: base_head}">
  <title>Error 404</title>
</head>
<body>
<nav th:replace="~{base :: base_navbar}"></nav>
<div class="d-flex justify-content-center" th:fragment="fragmentContent">
  <h1>Page Not Found</h1>
  <p th:text="${errorMessage}">The requested page was not found.</p>
  <a th:href="@{/dashboard}" class="btn btn-primary">Back to Home</a>
</div>
<footer th:replace="~{base :: base_footer}"></footer>
</body>
</html>
